name: 'Build and Test'

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          #- {name: ubuntu-gcc-9, os: ubuntu-latest, cc: gcc-9, cxx: g++-9}
          #- {name: ubuntu-clang-9, os: ubuntu-latest, cc: clang-9, cxx: clang++-9}
          - {name: mac-latest, os: macos-latest, cc: clang, cxx: clang++}
          #- {name: windows-latest, os: windows-latest, cc: cl, cxx: cl}
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - name: Prepare OpenSSL for Mac
      if: ${{matrix.config.name == 'mac-latest'}}
      run: |
        rm -rf /usr/local/Cellar/openssl
        ln -sf /usr/local/Cellar/openssl@1.1/1.1.1g /usr/local/opt/openssl
        ln -sf /usr/local/Cellar/openssl@1.1/1.1.1g/bin/openssl /usr/local/bin/openssl
        echo "PATH=\"$(brew --prefix openssl)/bin:$PATH\"" >> $GITHUB_ENV
        echo "LDFLAGS=\"-L$(brew --prefix openssl)/lib $LDFLAGS\"" >> $GITHUB_ENV
        echo "CPPFLAGS=\"-I$(brew --prefix openssl)/include $CPPFLAGS\"" >> $GITHUB_ENV
        echo "PKG_CONFIG_PATH=\"$(brew --prefix openssl)/lib/pkgconfig\"" >> $GITHUB_ENV

    - name: Create Build Environment
      env:
        CC: ${{matrix.config.cc}}
        CXX: ${{matrix.config.cxx}}
      run: cmake -S . -B ${{runner.workspace}}/build -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build Tests
      working-directory: ${{runner.workspace}}
      shell: bash
      run: cmake --build build --config $BUILD_TYPE 

    - name: Run Tests
      working-directory: ${{runner.workspace}}
      shell: bash
      run: ${{runner.workspace}}/build/test/csgoparse_tests
