name: 'Build and Test'

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {name: ubuntu-gcc-9, os: ubuntu-latest, cc: gcc-9, cxx: g++-9}
          - {name: ubuntu-clang-10, os: ubuntu-latest, cc: clang-10, cxx: clang++-10}
          - {name: mac-latest, os: macos-latest, cc: clang, cxx: clang++}
          - {name: windows-latest, os: windows-latest, cc: cl, cxx: cl}
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - name: Prepare OpenSSL for Mac
      if: ${{matrix.config.name == 'mac-latest'}}
      run: export PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig:$PKG_CONFIG_PATH" && pkg-config --modversion openssl

    - name: Create Build Environment
      env:
        CC: ${{matrix.config.cc}}
        CXX: ${{matrix.config.cxx}}
      run: cmake -S . -B ${{runner.workspace}}/build -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build Tests
      working-directory: ${{runner.workspace}}
      shell: bash
      run: cmake --build build --config $BUILD_TYPE

    - name: Run Tests
      working-directory: ${{runner.workspace}}
      shell: bash
      run: ${{runner.workspace}}/build/bin/tests
